@tailwind base;
@tailwind components;
@tailwind utilities;

/* header */
.nav-active {
    @apply bg-blue-800 text-white rounded;
}

/*slider*/

.swiper-button-next::after {
    color: bg-blue-800;
}

.swiper-button-prev::after {
    color: bg-blue-800;
}

/* input#outlined-basic {
    padding: 17px;
} */

#root {
    padding: 0;
}
