@tailwind base;
@tailwind components;
@tailwind utilities;

/* header */
.nav-active {
    @apply text-amber-600 underline;
}

/*slider*/

.swiper-button-next {
    padding: 0;
    height: auto;
    width: auto;
    background-color: transparent;

    @media screen and (min-width: 767px) {
        background-color: rgba(255, 255, 255, 0.1);
        padding: 30px;
        height: 17px;
        width: 17px;
        border-radius: 50%;
    }
}

.swiper-button-next::after {
    color: rgb(21 94 117);
    opacity: .6;

}

.swiper-button-prev {
    height: auto;
    width: auto;
    background-color: transparent;

    @media screen and (min-width: 767px) {
        background-color: rgba(255, 255, 255, 0.2);
        padding: 0;
        padding: 30px;
        height: 17px;
        width: 17px;
        border-radius: 50%;
    }
}

.swiper-button-prev::after {
    color: rgb(21 94 117);
    opacity: .6;
}

.swiper-pagination-bullet-active {
    color: rgb(217 119 6);

}

#root {
    padding: 0;
}

body {
    background-color: rgb(8 51 68);
}

.swiper-pagination-bullet-active {
    background-color: rgb(21 94 117) !important;
}

.css-1d3z3hw-MuiOutlinedInput-notchedOutline {
    border-color: rgb(217 119 6);
}

.swiper-scrollbar>.swiper-scrollbar-drag {
    background-color: rgb(21 94 117);
    opacity: .6;
}

/* Raiting */
.MuiSvgIcon-root path {
    fill: rgb(217 119 6);
}
